/* App.css */

/* Set the height of the map container to fill the viewport */
.map-container {
  width: 100vw;
  height: 100vh;
}

/* Style the map container */
.map-container .leaflet-container {
  height: 100%;
}

/* Define the polygon styles */
.polygon-style {
  fill-opacity: 0.7;
  stroke-width: 2;
  stroke-dasharray: 3;
  stroke: white;
}

/* Define the polygon styles for mouseover event */
.polygon-style:hover {
  fill-opacity: 0.7;
  stroke-dasharray: none;
  fill: #BD0026;
}

/* Define the polygon styles for selected/clicked event */
.polygon-style.selected {
  /* Add custom styles for the selected polygon */
  fill: #FF0000;
}

